body{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    background: rgba(206, 186, 148, 0.65);
}
/* section{
    margin-top: 2%;
} */
.flex-container{
    display: flex;
}
.orange{
    color: orangered;
    font-style:italic;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
}
p{
    font-size: 20px;
    line-height: 25px;
    padding: 10px;
}
.top{
    /* background:rgb(241,228,214); */
}
#recipe-text{
    padding-top: 2px;
    text-align: center;
}
.half-width{
    width: 50%;
    margin: 2% 6%;
    padding: 5px 0 0 20px;
}
.button{
    text-decoration: none;
    color: black;
    font-weight: 900;
    background-image: linear-gradient(#ffc400, #ff0000c5);
    padding: 10px 25px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.mid{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
#women{
    padding-left: 10%;
    width: 85%;
}
.recipe-item{
    /* background: rgb(214, 189, 144); */
    background: rgba(99, 99, 99, 0.301);
    margin-left: 6%;
    width: 25%;
    border: 1px black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 15px 15px 20px black;
}
.recipe-item img{
    border-radius: 20px;
    display: block;
    margin: 35px auto;
    width: 70%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
footer{
    background: rgb(0, 0, 30);
    color: whitesmoke;
}